body {
  background-color: #95b9b0;
}

.page-footer {
  background-color: #95b9b0;
  color: #b42836;
}

.pfest {
  color: white;
  margin:20px;
}

.card {
  position:absolute;
  right:20px;
  top:20px;
  opacity: 80%;
}

.chip {
  background-color: #b42836;
}

.slider {
  height: 400px!important;
}

.slider .slides {
  height: 400px;
}

.btn {
  color: white;
  background-color: #b42836;
}

.btn:hover {
  background-color: #2f364a;
}

.slider .indicators {
  bottom: 20px;
  z-index: 100;
  color: #b42836;
}

.slider .indicators .indicator-item.active {
  background-color: #b42836;
}

#map { height: 300px; }
